<html lang="fr">
  <head>
    <title>Modification du potin </title>
  </head>

  <body>

    <h1>Réctifie ce potin numéro <%= params['id'] %></h1>

    <form action="/gossips/:id/edit/" method="post">
      Saisi ici ton nom : <input type="text" name="gossip_author"/><br/>
      Modifie ton gratin : <input type="text" name="gossip_content"/><br/>
      <input type="submit">
    </form>

  </body>

</html>