<html>
  <head>
    <title>Détail du potin</title>
  </head>

  <body>
    <h1>Potin numéro n°<%= id %></h1>
      <p>
        Auteur : <%= gossips[0] %><br/>
        Contenu : <%= gossips[1] %>
      </p>
    <a href="/gossips/<%= id %>/edit/">Modifier ce potin</a><br/>
    <a href="/">Retour</a>
  </body>
</html>